
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body {
    background-color: #e3f2fd;
}

.chatbot-toggler {
    position: fixed;
    right: 70px;
    bottom: 15px;
    height: 43px;
    width: 43px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background: #0A4C73;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    z-index: 1005;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}
.chatbot-toggler span {
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

    .show-chatbot .chatbot-toggler span:last-child {
        opacity: 1;
    }

.chatbot-toggler:hover {
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

.chatbot {
    position: fixed;
    right: 10px;
    bottom: 70px;
    width: 400px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transform-origin: bottom right;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0px 128px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    z-index: 1001;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
.chatbot header {
    background: #aec1a0;
    padding: 16px 0;
    text-align: center;
    position: relative;
    color: #fff;
    height: 60px;
}

    .chatbot .header h2 {
        color: #fff;
        font-size: 22px !important;
    }

.chatbot header span {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

    .chatbot .chatbox {
        height: 350px;
        overflow-y: auto;
        padding: 30px 10px 100px;
    }

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 28px;
    width: 28px;
    color: #fff;
    background: #0A4C73;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    align-self: flex-end;
    margin: 0 4px 2px 0;
}

.chatbox .outgoing {
    margin: 15px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    color: #000;
    padding: 8px 10px;
    font-size: 0.87rem;
    border-radius: 10px 10px 0 10px;
    background: #baecc2;
    max-width: 70%;
    white-space: pre-wrap;
}

    .chatbox .chat p.error {
        color: #721c24;
        background: #f8d7da;
        font-size: 0.87rem;
    }

.chatbox .incoming p {
    color: #000;
    border-radius: 10px 10px 10px 0;
    margin-left: 1px;
    background: #e3f2fd;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 5px;
    display: flex;
    gap: 5px;
    background: #fff;
    display: flex;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    padding: 16px 15px 16px 20px;
    border: none;
    outline: none;
    resize: none;
    font-size: 0.80rem;
    max-height: 220px;
}

.chat-input span {
    width: 50px;
    height: 55px;
    line-height: 55px;
    font-size: 0.85rem;
    color: #0A4C73;
    visibility: hidden;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media(max-width: 490px) {
    .chatbot {
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        border-radius: 0;
        z-index: 1007;
    }
    .chatbot .chatbox {
        height: calc(90% - 2px);
    }

    .chatbot header span {
        display: block;
    }

    .chatbot-toggler {
        right: 15px;
        bottom: 70px;
    }

}
